<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule to ignore /local/announcements2/index.php -->
        <rule name="IgnoreIndexPhp" stopProcessing="true">
          <match url="^local/announcements2/index\.php$" />
          <action type="None" />
        </rule>

        <!-- Rule to rewrite non-existing files or directories -->
        <rule name="RewriteToIndex" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/local/announcements2/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
